/* Aplica a todos los elementos */
* {
    box-sizing: border-box;
    /* Asegura que el padding y el border se incluyan dentro del ancho y alto del elemento */
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "ira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    /* Mejora el renderizado de la fuente en navegadores WebKit*/
    -moz-osx-font-smoothing: grayscale;
    /* Mejora el renderizado de la fuente en macos */
}

body {
    background-color: #ffffff;
    /* Color de fondo del cuerpo de la página*/
}

/* Aplica a la clase login */
.login {
    width: 400px;
    /* Ancho del contenedor de login */
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.74);
    /* Sombra alrededor del contenedor */
    margin: 100px auto;
    /*Centra el contenedor horizontalmente y le da un margen superior de 100px */
}

.login h1 {
    text-align: center;
    color: #566574;
    font-size: 24px;
    padding: 20px;
    /* Espaciado vertical dentro del elemento */
    border-bottom: 1px solid #dee0e4;
    /* Linea inferior */
}

.login form {
    display: flex;
    /* Usa flexbox para el diseño */
    flex-wrap: wrap;
    /* Permite que los hijos se envuelvan a la siguiente linea si es necesario */
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra verticalmente el contenido */
    width: 50px;
    height: 50px;
    background-color: #34AF6D;
    color: #ffffff;
}

/* Aplica a los inputs de tipo password y text dentro de los formularios en login */

.login form input[type="password"],
.login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    /*Espaciado interno */
    margin-top: 20px;
    background-color: #34AF6D;
    border: 0;
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s
        /* Transición suave del color de fondo*/
}

/* Efecto hover para los inputs de tipo submit dentro de los formularios en .login */
.login form input[type="submit"]:hover {
    background-color: #4ecc7e;
    /* Color de fondo al pasar el cursor por encima */
    transition: background-color 0.2s;
}

/* Aplica a la clase navtop */

.navtop {
    background-color: darkblue;
    height: 60px;
    width: 100%;
    border: 0;
}

/* Aplica a los divs dentro de .navtop */

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.navtop div h1,
.navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    /* Ocupa todo el espacio disponible */
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed;
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    /* Sin subrayado */
    color: #c1c4c8;
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #eaebed;
    /* Color del texto al pasar el cursor por encima */
}

body.loggedin {
    background-color: #f3f4f7;
}

/* Aplica a la clase .content */
.content {
    width: 1000px;
    margin: 0 auto;
    /* Centra el contenedor horizontalmente */
}

/* Aplica a los h2 dentro de .content */

content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    /* Linea inferior*/
    color: #4a5366;
}

/* Aplica a los py divs hijos directos de .content */

.content>p,
.content>div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
}

.content>p,
table td,
.content>div table td {
    padding: 5px;
}

.content>p table td:first-child,
content div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}

.content>div p {
    padding: 5px;
    margin: 0 0 10px 0;
}